@use '../../../constants/variables.scss' as *;

.keyboard-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $keyboard_font_size;
    border-radius: 5px;
    background-color: $keyboard_color_default;
    min-width: 60px;
    height: 75px;
    user-select: none;
    cursor: pointer;
    font-weight: 800;

    &:hover {
        font-size: calc($keyboard_font_size + 3px);
    }

    &.long {
        width: 120px;
        font-size: $keyboard_font_size_long;

        &:hover {
            font-size: calc($keyboard_font_size_long + 3px);
        }
    }
}
