$bg_hun_flag: linear-gradient(to bottom,
    #ce1126 0%, /* Red */
    #ce1126 33.33%,
    #ffffff 33.33%, /* White */
    #ffffff 66.66%,
    #008751 66.66%, /* Green */
    #008751 100%);

$bg_blank: #121213;


$board_tile_gap: 5px;

$keyboard_color_default: #808283;
$keyboard_color_full_match: #528c4d;
$keyboard_color_partial_match: #b49e3b;
$keyboard_color_no_match: #3a3a3c;
$keyboard_button_gap: 7px;
$keyboard_font_size: 2.5rem;
